.componies{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    ul{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
}